body {
 background-color: #28272b;
 color: #ffffff;
 font-family: 'Open Sans', sans-serif;
 padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 80px;
 }

a:visited {
 color: lightblue;
}

a:link {
 color: aqua;
}
